<h1> Welcome to SHITTER  </h1>

<h2> THIS IS HIGHLY UNLIKELY TO WORK, AND MAY BE CLASSED AS BULLSHIT </h2>


<div id="new-peep">
			<form action="/peeps"	method="post">
			Title <input type="text" name="title">
			Message <input type="text" name="message">
			<input type="submit" value="Add peep">  
			</form>
</div>

Latest peeps

<ul>
	<% @peeps.each do |peep| %>
		<li> Subject: <%= peep.title %> </li>
		<li> Peep:    <%= peep.message %></li>
	<% end %>
</ul>

