<html>
	<head>
		<title> Chitter </title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
	</head>
	<body>
		<%= yield %>
		<div id="new-peep">
			<form action="/peeps"	method="post">
			Title <input type="text" name="title">
			Message <input type="text" name="message">
			<input type="submit" value="Add peep">  
			</form>
		</div>
	</body>

</html 